<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Django Static files</title>
    <link rel="stylesheet" href={% static "/css/myfile.css" %}>
  </head>
  <body>
    <h1>Hi this image from django static files. </h1>
  <div class="container">
  <img class="image" style="width:100%" src="{% static "images/djangoguitar.jpg" %}" alt="Uh oh, didn't show">
  <div class="middle">
    <div class="text">S. Molla</div>
  </div>
</div>
  </body>
</html>
